In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../input/covid19-tweets/covid19_tweets.csv")

In [3]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [4]:
len(df)

179108

In [5]:
df["text"][3]

'@brookbanktv The one gift #COVID19 has give me is an appreciation for the simple things that were always around me‚Ä¶ https://t.co/Z0pOAlFXcW'

In [10]:
df["user_location"][:35]

0                                            astroworld
1                                          New York, NY
2                                      Pewee Valley, KY
3                                  Stuck in the Middle
4                                     Jammu and Kashmir
5                                           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è
6                                       Gainesville, FL
7                                                   NaN
8                                                   NaN
9                            üëáüèªlocation at link belowüëáüèª
10                                                  NaN
11                                     Dhaka,Bangladesh
12    Hotel living - various cities!  Who needs a ho...
13                                               Africa
14                                            New Delhi
15                                      Nagaland, India
16                                                  NaN
17                                             Brussels
18                                                  NaN
19                                         Florida, USA
20                                                  NaN
21                                        #AFRICA #MENA
22                                    Northwest Indiana
23                                       100+ countries
24                                                 Graz
25                                        Mumbai, India
26                            Working in 175+ countries
27                                        Manhattan, NY
28                        no e-pass to cross borders...
29                                     I ‚ô•Ô∏è I ‚ô•Ô∏è I ‚ô•Ô∏è I
30                                        United States
31                                       Chennai, India
32                                            Miami, FL
33                             British Columbia, Canada
34                                      Farnham, Surrey
Name: user_location, dtype: object

In [6]:
df["user_location"].isna().sum()

36771

In [7]:
#so looks like there are no empty string values in the column
len(df.loc[df["user_location"]==''])

0

In [18]:
import numpy as np

len(df.loc[df["user_location"]=="nan"])

0

In [21]:
len(df.loc[df["user_location"]==np.NaN])

0

In [ ]:
179108-36771

In [27]:
#let's filter the not null from the dataset

result=df.loc[df['user_location'].notnull()]

In [35]:
#we have a decent size of non-null values 
len(result)

142337

In [32]:
result["user_location"][:55]

0                                            astroworld
1                                          New York, NY
2                                      Pewee Valley, KY
3                                  Stuck in the Middle
4                                     Jammu and Kashmir
5                                           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è
6                                       Gainesville, FL
9                            üëáüèªlocation at link belowüëáüèª
11                                     Dhaka,Bangladesh
12    Hotel living - various cities!  Who needs a ho...
13                                               Africa
14                                            New Delhi
15                                      Nagaland, India
17                                             Brussels
19                                         Florida, USA
21                                        #AFRICA #MENA
22                                    Northwest Indiana
23                                       100+ countries
24                                                 Graz
25                                        Mumbai, India
26                            Working in 175+ countries
27                                        Manhattan, NY
28                        no e-pass to cross borders...
29                                     I ‚ô•Ô∏è I ‚ô•Ô∏è I ‚ô•Ô∏è I
30                                        United States
31                                       Chennai, India
32                                            Miami, FL
33                             British Columbia, Canada
34                                      Farnham, Surrey
35                                         South Africa
36                                     Deep Heart Texas
38                                           Dorset, UK
39                                   Bethesda, Maryland
40                                       Cavan, Ireland
41                           A UK I no longer recognise
42                         Port Elizabeth, South Africa
43                                     New Delhi, India
44                                           Larose, LA
45                                              chennai
46                                              Nairobi
47                                            worldwide
48                                             Scotland
50                                            Australia
51                                                   UK
52                                        San Francisco
53                                A-009, SEC-68 , NOIDA
54                                                  USA
55                                     Baton Rouge, USA
56                                           Queens, NY
57                                      New Orleans, LA
61                                           astroworld
62                                        Visakhapatnam
64                                         Marietta, GA
65                              England, United Kingdom
66                                     New York, NY USA
Name: user_location, dtype: object

In [34]:
result["user_location"][70:110]

88                             London
90                   New Delhi, India
91                          LONDON,UK
92                     Dublin Ireland
93               Durban, South Africa
94            Kwa-Thema, South Africa
96                     Chennai, India
97                         Mebane, NC
98                            Ireland
99                            Cardiff
100                           Beijing
101                   Cinema Junction
102                near Austin, Texas
103          Toronto, Ontario, Canada
104                     Rochester, NY
107                      New York, NY
109                            Global
110                            Baroda
112                       –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è
114                        London, UK
115                     Sarasota, FL
116             Wales, United Kingdom
117                   Oshawa, Ontario
118                          Universe
119                   California, USA
120                             India
121                Amsterdam, London
122                           Salford
123                          Virginia
124                     Mumbai, India
126                         Worldwide
128                           Leeds,
131                      New York, NY
132    Leicestershire, United Kingdom
134                    Chennai, India
135                   London, England
136                     Kerala, India
137                       Goa, India.
139                  Indianapolis, IN
140                               USA
Name: user_location, dtype: object

Reason for me to try geopy: because we have decent number of values with proper location details in user_location, I thought it would make sense to convert them into latitudes and longitudes and then cluster (using DBSCAN for example) cities/states/places in the same country together to make the comprehensive look more impactful.

Also for the fact that if I have to deal with the mixed text format then I have to use named entity recognition to extract location names or try some other string split/regex patterns. But the issue is that they would not work for every detail.

In [59]:


from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")
location = geolocator.geocode("astroworld")

In [60]:
print(location.address)

Astroworld, West Bellfort Street, Myrtle, Houston, Harris County, Texas, 77054, United States of America

In [61]:
print((location.latitude, location.longitude))

(29.6742369, -95.40835498379157)

In [73]:
#actually Cinema Junction represents TamilNadu/India so checked the lat and long for India below to check if geopy managed to get
#it right. does not look likt it of course.

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")
location = geolocator.geocode("Cinema Junction")

In [74]:
print((location.latitude, location.longitude))

(20.24040295, -99.19427618268686)

In [76]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")
location = geolocator.geocode("India")

In [77]:
print((location.latitude, location.longitude))

(22.3511148, 78.6677428)

In [72]:
#is astroworld in Texas?
pd.set_option('display.max_colwidth', -1)

df.loc[0]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

user_name           ·èâ·é•‚òª’¨ÍÇÖœÆ
user_location       astroworld
user_description    wednesday addams as a disney princess keepin it [Ã≤ÃÖ$Ã≤ÃÖ(Ã≤ÃÖŒπŒøŒøÃ≤ÃÖ)Ã≤ÃÖ$Ã≤ÃÖ] üë∏üèªüíö‚ôäÔ∏èüßÄüåµüåÉüåô
user_created        2017-05-26 05:46:42
user_followers      624
user_friends        950
user_favourites     18775
user_verified       False
date                2020-07-25 12:27:21
text                If I smelled the scent of hand sanitizers today on someone in the past, I would think they were so intoxicated that‚Ä¶ https://t.co/QZvYbrOgb0
hashtags            NaN
source              Twitter for iPhone
is_retweet          False
Name: 0, dtype: object

In [75]:
df.loc[101]

user_name           Kollywood Arena‚Ñ¢
user_location       Cinema Junction
user_description    Tamil cinema ‚ù§ and Day to day ongoing Intresting Updates ||\nDo follow and support üôè us For Instant Updates üòä
user_created        2020-05-13 16:09:43
user_followers      28
user_friends        164
user_favourites     196
user_verified       False
date                2020-07-25 12:24:11
text                PR :  @VishalKOfficial and his father Mr.G.K.Reddy tested positive for #Covid19 15/20 days back..\n\nWhile #Vishal 's‚Ä¶ https://t.co/CSXEqIWtig
hashtags            ['Covid19', 'Vishal']
source              Twitter for Android
is_retweet          False
Name: 101, dtype: object

There are values in user_location like:
astroworld (is astroworld really in Texas?)
universe
Cinema Junction (is not a place but represents film industry in the southern part of India)

So the latitude and longitude wouldn't be perfect for all the values. It could be even misleading. But for most part we have decent values for location, so the effect created by this can be considered negligible given the current context.

In [20]:
df.isna().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

#Next Steps:

What would make sense now?
Well, I can groupby user_location and then find the latitude and longitudes for the locations. 

Idea: is to group all the cities/states/places within country together in order to get the country details which can be used to categorize the groups (i.e., that I have already formed using Kmeans) and add the total number of tweets sent per category and total number of followers (by individually finding the max number of followers per category).

How does this matter?
Conceptually aiming to paint a picture that would demonstrate

Per country: 

Number of categories per country / 

Number of followers per category / 

Total number of tweets sent per category / 

Type of messages sent, i.e., ideally wish to visualize the medical terms used in the tweets

In [ ]:
To be continued...