In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../input/covid19-tweets/covid19_tweets.csv")

In [ ]:
df.head()

In [ ]:
df["user_location"].value_counts()

In [ ]:
len(df["user_location"].value_counts())

Percentage of null values missing in the dataframe.

In [ ]:

df.isnull().sum()*100/len(df)

In [ ]:

df["hashtags"].value_counts()

In [ ]:
len(df)

In [ ]:
# df["user_verified"].value_counts()

In [ ]:
# df["user_description"].value_counts()[:5]

In [ ]:
# df["source"].value_counts()

First, let's try to group all the records by each country possible. Let's try using regex pattern.

In [ ]:
# import matplotlib.pyplot as plt
# %matplotlib inline

# df["user_location"].value_counts().plot.bar()

In [ ]:

# df.groupby("user_location").size().plot.bar()

In [ ]:

# for i in df["user_location"]:
#     print(type(i))
#     if str(i).startswith("‚àö√∫T:"):
#         print("yes")
#         print(i)

Let's use the outputs from pd.to_numeric and boolean indexing to find the numerical values out of the column: user_location. But these values are not the ones we are looking for and that means they are represented as string values.

In [ ]:


# df[pd.to_numeric(df.user_location, errors='coerce').notnull()]

In [ ]:
# import re
# pattern=re.compile('^‚àö√∫T:')

# ## THIS WAY YOU CAN CHECK FOR MULTIPLE STRINGS
# ## LIKE
# ## regex=re.compile('^hello|^john|^world')

# for i in df["user_location"]:
#     if re.match(pattern, str(i)):
#         print("Yes")

In [ ]:
# df[df["user_location"]=="‚àö√∫T: 37.322821,-121.809369"]

In [ ]:
# df[df.index.isin([16893, 16894])]

In [ ]:
# df.loc[df["user_name"]=="Charlie Isaacs", "user_location"]

In [ ]:
# import re
# from collections import defaultdict
# pattern=re.compile('√úT:')
# d=defaultdict(list)

# ## THIS WAY YOU CAN CHECK FOR MULTIPLE STRINGS
# ## LIKE
# ## regex=re.compile('^hello|^john|^world')

# for i in df["user_location"]:
#     if re.match(pattern, str(i)):
#         d[i].append(i)
        
#         d[i].append(df.index.get_loc)
        
#         d[df[df["user_location"]==i].index.values]=
#[df["user_location"]==i].index

In [ ]:
# for i in df["user_location"]:
#     if str(i).startswith('√úT:'):
#         d[i].append(df[df["user_location"]==i].index.values)

In [ ]:
# import re
# from collections import defaultdict
# pattern=re.compile('√úT:')
# d=defaultdict(list)

# df.index[df["user_location"]=='√úT:']

In [ ]:
# df.index[df.user_location.str.contains('^√úT:')]

# df.iloc[df[s].index].index

# idx = df.index[df.Channel.isin(['A', 'B'])]

# for i in df["user_location"]:
    
#     df.index.get_loc(df.index[df.user_location.str.contains('^√úT:', na=False)][0])

In [ ]:
#This is exactly what I wanted
df_userlocation=df[df['user_location'].str.contains('^√úT:') == True].user_location

In [ ]:
df_userlocation.head()

In [ ]:
df_userlocation=df_userlocation.reset_index()

In [ ]:
df_userlocation.head()

In [ ]:
len(df_userlocation)

In [ ]:
# df_userlocation.index.values

In [ ]:
# from geopy.geocoders import Nominatim
# # create the locator
# geolocator = Nominatim(user_agent="myGeocoder")

# # getting the location address
# location = geolocator.reverse("52.5127, 13.3811")
# print(location)

In [ ]:
# location2 = geolocator.reverse("51.551339,0.013024")

In [ ]:
# location2

In [ ]:
# location3=geolocator.reverse("-26.532499,28.376949")
# str(location3)

In [ ]:
# s="√úT: 52.5127, 13.3811"
# s.lstrip().rstrip()[4:]

In [ ]:
# for i in df_userlocation["user_location"]:
#     location = geolocator.reverse(i.lstrip().rstrip()[4:])
#     print(location)

In [ ]:

# from geopy.geocoders import Nominatim
# def lat_long_conversion(df, col1):
#     df["address"]=""#let's add a new column to the same dataframe in order to add the results at appropriate indexes
#     geolocator = Nominatim(user_agent="myGeocoder")
#     for i in range(len(df[col1])):
#         location = geolocator.reverse(df[col1][i].lstrip().rstrip()[4:])
#         df.loc[i, "address"]=str(location)#without str in the statement here it issued an error saying cannot assign a multiindex values.
#         #that's because values are separated by commas in an address
#     return df

In [ ]:
# df_userlocation_altered=lat_long_conversion(df_userlocation, "user_location")

In [ ]:
# df_userlocation.head()

In [ ]:
# df_userlocation["index"]

In [ ]:
# for i in df_userlocation["user_location"]:
#     print(i.lstrip().rstrip()[4:])
    
# Observation:
# Looks like we have some text in the column: "wa Tatakho"
# Also value missing in: 33.87572,- (getting a value error for the missing value)

In [ ]:
# Looks like Latitude and Longitude with values 0.0,0.0 should not be an issue

# geolocator.reverse("0.0,0.0")

In [ ]:
# Getting a ValueError: Must be a coordinate pair or Point
# geolocator.reverse("33.87572,-")

In [ ]:
# df_userlocation.drop("address", axis=1, inplace=True)

In [ ]:
# df_userlocation.head()

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("wa Tatakho")]

In [ ]:
#Let's remove the text from the column and also the latitude and longitude with a missing value from the column
#but this did not work

# delete_row = df_userlocation[df_userlocation["user_location"]=="√úT:kwa Tatakho"].index
# df_userlocation.drop(delete_row, axis=0, inplace=True)

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("wa Tatakho")]

In [ ]:
#removed index=126252 from the dataframe
# df_userlocation.drop(233, inplace=True)

In [ ]:
# len(df_userlocation)

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("wa Tatakho")]

In [ ]:


# df_userlocation[df_userlocation["user_location"].str.contains("33.87572,-")]

In [ ]:
#removed index=137030 from the dataframe
# df_userlocation.drop(264, inplace=True)

In [ ]:
# len(df_userlocation)

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("33.87572,-")]

In [ ]:

from geopy.geocoders import Nominatim

def lat_long_conversion(df, col1):
    df["address"]=""#let's add a new column to the same dataframe in order to add the results at appropriate indexes
    geolocator = Nominatim(user_agent="myGeocoder")
    for i in range(len(df[col1])):
        try:
            location = geolocator.reverse(df[col1][i].lstrip().rstrip()[4:])
            df.loc[i, "address"]=str(location)#without str in the statement here it issued an error saying cannot assign a multiindex values.
        #that's because values are separated by commas in an address
        except:
            print("something's wrong with the coordinates {}".format(df[col1][i].lstrip().rstrip()[4:]))
    return df.head()

In [ ]:
#It worked, yay!

lat_long_conversion(df_userlocation, "user_location")

In [ ]:
df_userlocation.head()

In [ ]:
#saving this file to /kaggle/working/ in the output directory. saving here will save the file outside the current session so
#can use it tomorrow. Proud of you Rockstar!

df_userlocation.to_csv("/kaggle/working/address_extracted.csv")

In [ ]:

df2=pd.read_csv("./address_extracted.csv")

In [ ]:
df2.head()

In [ ]:
df.head()

In [ ]:
df.loc[[979]]

In [ ]:
df=df.reset_index()

In [ ]:
df.head()

In [ ]:
df["index"]

In [ ]:
df2["index"]

In [ ]:
# df2_dict = df2.set_index('index').to_dict()

In [ ]:
# df2_dict

In [ ]:

# df['index'] = df['index'].apply(lambda x: df2_dict[x])

In [ ]:
df = df.set_index('index')

In [ ]:
df2 = df2.set_index('index')

In [ ]:
df2.head()

In [ ]:
df2.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
# df.update(df2)
# df.reset_index(inplace=True)

In [ ]:
df=df.reset_index()

In [ ]:
df.loc[[979]]

In [ ]:
df2=df2.reset_index()

In [ ]:
m = df2.set_index('index')['address'].to_dict()

In [ ]:
df = df.set_index('index')

In [ ]:
df.head()

In [ ]:
v = df.filter(like='user_location')

In [ ]:
v

In [ ]:
df[v.columns] = v.replace(m)

In [ ]:
df=df.reset_index()

In [ ]:
df.loc[[979]]

In [ ]:
df.loc[[2295]]

In [ ]:
c=0
for i in df["index"]:
    print(df2["index"][i])

    if df["index"][i]== df2["index"][i]:
        c+=1
        
# print(c)

In [ ]:
df2.head()

In [ ]:
for i in df2["index"].tolist():
#     df2.loc[df2["index"]==i, "address"].values[0]
    
    df.loc[i, ["user_location"]].replace(df.loc[i, ["user_location"]].values[0], df2.loc[df2["index"]==i, "address"].values[0])
    
#     print(df.loc[i, ["user_location"]].values[0])

In [3]:
#the above did not work either!

df.loc[[979]]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
979,Andri Yatim,"√úT: 52.5127, 13.3811","BLM, Everton, F1, Art, Music, Movies, Food - A...",2009-01-03 12:14:16,826,2078,2635,False,2020-07-25 11:59:15,Your religion is absolute bullshit if it insis...,NaN,Twitter Web App,False

In [4]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [ ]:
user_description, text

In [5]:
df["combined_description_text"] = df["user_description"] + df["text"]

In [6]:
df["combined_description_text"].head()

0    wednesday addams as a disney princess keepin i...
1    Husband, Father, Columnist & Commentator. Auth...
2    #Christian #Catholic #Conservative #Reagan #Re...
3    #Browns #Indians #ClevelandProud #[]_[] #Cavs ...
4    üñäÔ∏èOfficial Twitter handle of Department of Inf...
Name: combined_description_text, dtype: object

In [8]:
df["combined_description_text"][1]

"Husband, Father, Columnist & Commentator. Author of Tough Sell: Fighting the Media War in Iraq. Bush Admin Alum. Newsmax Contributor. Fmr Exec Dir NYSGOPHey @Yankees @YankeesPR and @MLB - wouldn't it have made more sense to have the players pay their respects to the A‚Ä¶ https://t.co/1QvW0zgyPu"

In [13]:
df['combined_description_text'].isnull().sum()

9466

In [15]:
#let's try replacing null values in the column with an empty string


df_combined_emptystring=df['combined_description_text'].fillna('')

In [16]:
df_combined_emptystring.isnull().sum()

0

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3), use_idf=1,smooth_idf=1,sublinear_tf=1,
            stop_words = 'english')

In [18]:
train1=df_combined_emptystring.values.tolist()

In [19]:
# Fitting TF-IDF to both training and test sets (semi-supervised learning)
tfv.fit(train1)
train1_tfv =  tfv.transform(train1)

In [20]:
train1_tfv

<166656x423016 sparse matrix of type '<class 'numpy.float64'>'
	with 6672494 stored elements in Compressed Sparse Row format>